<div class="row">
    <a href="/home/AddCandidate">Add Candidate</a>
    <br />
    <a href="/home/Pending">View Pending</a>
    <br />

    <a href="/home/Confirmed">View Confirmed</a>
    <br />

    <a href="/home/Declined">View Declined</a>

</div>